body{
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
}
.container{
  padding-top: 1.5em;
  margin-top: 1em;
}
.input-form{
  opacity: 1;
}
